<html>
<head>
	<meta charset="UTF-8">
	<title>Egg, Inc. Epic Research Costs Calculator</title>

	<script src="underscore-min.js"></script>

</head>
<body>
	<div id="content"></div>
	<!-- Style (or lack thereof) -->
	<style>
		@font-face {
			font-family: Always Together;
			src: url("Always Together.otf");
		}
		#content {
			max-width: 860px;
			margin: 0 auto;
		}
		body {
			font-family: Always Together;
			background-color: rgb(191, 191, 191);
			cursor: default;
		}
		.modal {
			background-color: white;
			border-radius: 25px;
			padding-bottom: 15px;
			margin-bottom: 25px;
		}
		.left {
			float: left;
		}
		.right {
			float: right;
		}
		.clear {
			clear: both;
		}
		input, select, textarea, button {
			font-family: inherit;
		}
		h1 {
			text-align: center;
			font-weight: lighter;
			color: black;
		}
		h2 {
			text-align: center;
			font-weight: lighter;
			color: white;
			margin: 0 0 15px 0;
			padding: 5px;
			border-top-left-radius: 25px;
			border-top-right-radius: 25px;
			background-color: rgb(39, 110, 198);
		}
		h3 {
			text-align: center;
			font-weight: lighter;
			color: black;
			margin: 0;
		}
		table {
			width: 100%;
			border-collapse: collapse;
			text-align: center;
			font-size: 18px;
		}
		td, th {
			padding: 5px;
		}
		.odd td, th {
			background-color: #e5e5e5;
		}
		.noborder {
			border: none;
		}
		.noselect {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.inline {
			display: inline-block;
		}
		table input[type='number'] {
			width: 40px;
		}
		input[type='checkbox'] {
			margin-left: 25px;
		}

		.innercontent {
			padding: 0 15px 0 15px;
		}
		.innercontent textarea {
			font-family: monospace;
			font-size: 11px;
			width: 100%;
			margin-bottom: 2px;
		}
		.buttonrow {
			height: 40px;
		}
		.buttonrow button {
			font-size: 18px;
			padding: 4px;
		}

		.padright {
			margin-right: 25px;
		}
		.padleft {
			margin-left: 25px;
		}
		.padbottom {
			margin-bottom: 14px;
		}

		.bold-text {
			font-weight: bold;
		}

		.showdesc { display: table-cell; }
		.showbonus { display: table-cell; }
		.showspent { display: table-cell; }
		.showremaining { display: table-cell; }
		.showtotal { display: table-cell; }

		tr.hide { display: none; }
		.showdesc.hide { display: none; }
		.showbonus.hide { display: none; }
		.showspent.hide { display: none; }
		.showremaining.hide { display: none; }
		.showtotal.hide { display: none; }

		#exportfield {
			resize: vertical;
		}
	</style>

	<!-- Firefox, please -->
	<style type="text/css">
		@-moz-document url-prefix() {
			button {
				margin-top:-1px;
			}
		}
	</style>

	<!-- Template -->
	<script type="text/template" class="template">
		<h1>Egg, Inc. Epic Research Costs Calculator</h1>
		<div class="modal">
			<h2>Current Statistics</h2>
			<table id="stats-table">
				<tr>
					<th>Name</th>
					<th class="showdesc">Description</th>
					<th class="showbonus">Bonus</th>
					<th>Level</th>
					<th class="showspent">Spent</th>
					<th class="showremaining">Remaining</th>
					<th class="showtotal">Total Cost</th>
				</tr>
				<%	var tabindex = 0;
					_.each( upgrades, function( upgrade, key ) {
						tabindex++; %>
					<tr id="upgradeRow-<%- key %>">
						<td><%- upgrade.title %></td>
						<td class="showdesc"><%- upgrade.desc %></td>
						<td class="showbonus" style="width: 86px"id="bonus-<%- key %>">-</td>
						<td style="width: 82px"><div class="noselect inline"><input type="number" min="0" max="<%- upgrade.costs.length %>" id="lvl-<%- key %>" tabindex="<%- 10+tabindex %>"></div> / <%- upgrade.costs.length %></td>
						<td class="showspent" style="width: 58px" id="spent-<%- key %>">-</td>
						<td class="showremaining" style="width: 58px" id="remaining-<%- key %>">-</td>
						<td class="showtotal" style="width: 58px" ><%- upgrade.total.toLocaleString() %></td>
					</tr>
				<% }); %>
				<tr class="bold-text">
					<td class="noborder"></th>
					<td class="noborder showdesc"></th>
					<td class="noborder showbonus"></th>
					<td id="total-levels"><%- totals.levels %></th>
					<td id="total-spent" class="showspent"><%- totals.cost %></th>
					<td id="total-remaining" class="showremaining"><%- totals.levels %></th>
					<td class="showtotal"><%- totals.cost.toLocaleString() %></th>
				</tr>
			</table>
			<label class="noselect"><input type="checkbox" checked="true" id="chkdesc" tabindex="40"> Show Description</label>
			<label class="noselect"><input type="checkbox" checked="true" id="chkbonus" tabindex="41"> Show Bonus</label>
			<label class="noselect"><input type="checkbox" checked="true" id="chkspent" tabindex="42"> Show Spent</label>
			<label class="noselect"><input type="checkbox" checked="true" id="chkremaining" tabindex="43"> Show Remaining</label>
			<label class="noselect"><input type="checkbox" checked="true" id="chktotal" tabindex="44"> Show Total</label>
			<label class="noselect"><input type="checkbox" checked="false" id="sethidecompleted" tabindex="45"> Hide Completed</label>
		</div>

		<div class="modal">
			<h2>Future Planning</h2>
			<div class="padright padleft">
				<div class="noselect inline left">Piggy Bank <input type="number" min="0" id="piggybank" tabindex="50"></div>
				<div class="noselect inline left padleft padbottom">Piggy Level <input type="number" min="1" id="piggylevel" tabindex="51"style="width: 38px"> +<span id="piggybonus">0</span>%</div>
				<div class="noselect inline left" style="margin-left: 4px">(+<span id="piggybonuscalc">0</span>)</div>

				<button class="right" id="crackpiggy" onclick="crackThePiggy()" tabindex="54">Crack Open (+<span id="piggycracktotal">0</span>)</button>
				<div class="noselect inline right padbottom">Golden Eggs <input type="number" min="0" id="goldeneggs" tabindex="53"></div>
			</div>
			<table id="future-table">
				<tr>
					<th>Name</th>
					<th>Level</th>
					<th>Desired Increase</th>
					<th>Cost</th>
					<th>Next Price</th>
					<th>Buy?</th>
				</tr>
				<%	var tabindex = 0;
					_.each( upgrades, function( upgrade, key ) {
						tabindex++; %>
					<tr id="planRow-<%- key %>">
						<td><%- upgrade.title %></td>
						<td style="width: 82px"><div class="noselect inline"><input type="number" min="0" max="<%- upgrade.costs.length %>" id="fut-lvl-<%- key %>" tabindex="<%- 100+tabindex %>"></div> / <%- upgrade.costs.length %></td>
						<td style="width: 100px"><div class="noselect inline"><input type="number" min="0" max="<%- upgrade.costs.length %>" id="fut-inc-<%- key %>" tabindex="<%- 200+tabindex %>"></div></td>
						<td style="width: 82px" id="fut-cost-<%- key %>"></td>
						<td style="width: 82px" id="fut-next-<%- key %>"></td>
						<td><button id="fut-buy-<%- key %>" onclick="buy('<%- key %>')" tabindex="<%- 300+tabindex %>">Buy!</button></td>
					</tr>
				<% }); %>
			</table>
			<div class="innercontent" style="margin-top: 20px;">
				<div class="noselect inline right">Epic % Discount <input type="number" min="0" max="100" id="epicdiscount" tabindex="52"style="width: 38px"></div>
			</div>
			<div class="innercontent clear" style="margin-bottom: 20px;">
				<div class="left">Desired Upgrade Cost: <b id="fut-upgrade-total"></b></div>
				<div class="right padleft">Cost (Truckloads): <b id="fut-egg-remain-cost"></b></div>
				<div class="right">Eggs Left to Obtain: <b id="fut-egg-remain"></b></div>
				<div class="clear"></div>
				<div class="left">Eggs Left to get: <b id="fut-upgrade-remain"></b></div>
				<div class="right padleft">Cost (Truckloads): <b id="fut-egg-remain-piggy-cost"></b></div>
				<div class="right">Eggs Left to Obtain (incl. Piggy Bank): <b id="fut-egg-remain-piggy"></b></div>
			</div>
		</div>

		<div class="modal">
			<h2>Import/Export</h2>
			<div class="innercontent">
				<textarea id="exportfield" rows="8" tabindex="400"></textarea>
				<div class="buttonrow">
					<button onclick="loadBase64()" class="left" tabindex="401">Load from Textfield</button>
					<button onclick="exportBase64()" class="left" tabindex="402">Export to Textfield</button>
					<button onclick="reset()" class="right" tabindex="403">Clear All Data</button>
				</div>
			</div>
		</div>

		<h3>Current as of Egg, Inc. version 1.7</h3>
		<h3><a target="_blank", href="https://www.reddit.com/r/EggsInc/comments/87klhc/epic_research_costs_calculator_updated_for_17/">Click here</a> for discussion, suggestions, and feedback!</h3>
		<h3>Join me on any contracts with 'royalphysique' if you like!</h3>
		<h3><a target="_blank", href="https://github.com/SticklyMan/egginc-epic-research-calc/">It's on GitHub for some reason!</a></h3>
	</script>


	<!-- Javascript -->
	<script>
	// Initial userData
	var initialUserData = {
		eggs: 0,
		piggyLevel: 1,
		piggyBank: 0,
		epicDiscount: 0,
		hideCompleted: false,
		columns: {
			desc: true,
			bonus: true,
			spent: true,
			remaining: true,
			total: true
		},
		upgrades: {
			holdToHatch: 0,
			epicHatchery: 0,
			epicIntHatchery: 0,
			videoDoubler: 0,
			epicClucking: 0,
			epicMultiplier: 0,
			cheaperContractors: 0,
			bustUnions: 0,
			labUpgrade: 0,
			siloQuality: 0,
			siloCapacity: 0,
			internalHatcherySharing: 0,
			internalHatcheryCalm: 0,
			accountingTricks: 0,
			soulFood: 0,
			prestigeBonus: 0,
			droneRewards: 0,
			epicComfyNests: 0,
			transportationLobbyists: 0,
			warpShift: 0,
			prophecyBonus: 0,
			holdToResearch: 0
		},
		increase: {
			holdToHatch: 0,
			epicHatchery: 0,
			epicIntHatchery: 0,
			videoDoubler: 0,
			epicClucking: 0,
			epicMultiplier: 0,
			cheaperContractors: 0,
			bustUnions: 0,
			labUpgrade: 0,
			siloQuality: 0,
			siloCapacity: 0,
			internalHatcherySharing: 0,
			internalHatcheryCalm: 0,
			accountingTricks: 0,
			soulFood: 0,
			prestigeBonus: 0,
			droneRewards: 0,
			epicComfyNests: 0,
			transportationLobbyists: 0,
			warpShift: 0,
			prophecyBonus: 0,
			holdToResearch: 0
		}
	};
	if (localStorage.userData === undefined) {
		localStorage.userData = JSON.stringify(initialUserData);
	}


	// Upgrade Data
	var upgrades = {
		holdToHatch: {
			costs: [10, 36, 63, 90, 116, 143, 170, 196, 223, 250],
			title: "Hold to Hatch",
			desc: "Hold chicken button +2 chickens per second",
			bonusDesc: "+{VAL}/SEC",
			bonusVal: 2
		},
		epicHatchery: {
			costs: [2, 54, 107, 159, 212, 264, 317, 369, 422, 474, 527, 579, 632, 684, 737, 789, 842, 894, 947, 1000],
			title: "Epic Hatchery",
			desc: "Increase hatchery refill rate by 10%",
			bonusDesc: "+{VAL}%",
			bonusVal: 10
		},
		epicIntHatchery: {
			costs: [25, 76, 127, 178, 230, 281, 332, 384, 435, 486, 538, 589, 640, 692, 743, 794, 846, 897, 948, 1000],
			title: "Epic Int. Hatcheries",
			desc: "Increase internal hatchery rate by 5%",
			bonusDesc: "+{VAL}%",
			bonusVal: 5
		},
		videoDoubler: {
			costs: [25, 250, 475, 700, 925, 1150, 1375, 1600, 1825, 2050, 2275, 2500],
			title: "Video Doubler Time",
			desc: "Increase video doubler time by 30 min.",
			bonusDesc: "+{VAL} min.",
			bonusVal: 30
		},
		epicClucking: {
			costs: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500],
			title: "Epic Clucking",
			desc: "+0.1% egg value bonus for each running chicken",
			bonusDesc: "+{VAL}% / chicken",
			bonusVal: 0.1
		},
		epicMultiplier: {
			costs: [10, 30, 50, 70, 90, 110, 130, 150, 171, 191, 211, 231, 251, 271, 291, 312, 332, 352, 372, 392, 412, 432, 452, 473, 493, 513, 533, 553, 573, 593, 614, 634, 654, 674, 694, 714, 734, 755, 775, 795, 815, 835, 855, 875, 895, 916, 936, 956, 976, 996, 1016, 1036, 1057, 1077, 1097, 1117, 1137, 1157, 1177, 1197, 1218, 1238, 1258, 1278, 1298, 1318, 1338, 1359, 1379, 1399, 1419, 1439, 1459, 1479, 1500],
			title: "Epic Multiplier",
			desc: "Increase max running chicken bonus by 0.2x!",
			bonusDesc: "+{VAL}x MAX",
			bonusVal: 0.2
		},
		cheaperContractors: {
			costs: [20, 73, 126, 180, 233, 286, 340, 393, 446, 500],
			title: "Cheaper Contractors",
			desc: "Reduce hen house and silo build costs by 5%",
			bonusDesc: "-{VAL}%",
			bonusVal: 5
		},
		bustUnions: {
			costs: [20, 73, 126, 180, 233, 286, 340, 393, 446, 500],
			title: "Bust Unions",
			desc: "Reduce vehicle hire costs by 5%",
			bonusDesc: "-{VAL}%",
			bonusVal: 5
		},
		labUpgrade: {
			costs: [25, 50, 75, 100, 125, 150, 175, 200, 225, 250],
			title: "Lab Upgrade",
			desc: "Reduce research costs by 5%",
			bonusDesc: "-{VAL}%",
			bonusVal: 5
		},
		siloQuality: {
			costs: [5, 11, 17, 23, 30, 36, 42, 48, 55, 61, 67, 74, 80, 86, 92, 99, 105, 111, 118, 124, 130, 136, 143, 149, 155, 162, 168, 174, 180, 187, 193, 199, 206, 212, 218, 224, 231, 237, 243, 250],
			title: "Silo Quality",
			desc: "Increase silo quality by 2%",
			bonusDesc: "+{VAL}%",
			bonusVal: 2
		},
		siloCapacity: {
			costs: [100, 133, 166, 200, 233, 266, 300, 333, 366, 400],
			title: "Silo Capacity",
			desc: "Increase away time per silo by 6 min",
			bonusDesc: "+{VAL} min.",
			bonusVal: 6
		},
		internalHatcherySharing: {
			costs: [250, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500],
			title: "Internal Hatchery Sharing",
			desc: "Full habs' internal hatcheries send +10% chicks to other habs",
			bonusDesc: "{VAL}% shared",
			bonusVal: 10
		},
		internalHatcheryCalm: {
			costs: [10, 114, 219, 324, 428, 533, 638, 743, 847, 952, 1057, 1162, 1266, 1371, 1476, 1581, 1685, 1790, 1895, 2000],
			title: "Internal Hatchery Calm",
			desc: "Increase internal hatchery rate by 10% while away",
			bonusDesc: "+{VAL}%",
			bonusVal: 10
		},
		accountingTricks: {
			costs: [25, 234, 443, 652, 861, 1071, 1280, 1489, 1698, 1907, 2117, 2326, 2535, 2744, 2953, 3163, 3372, 3581, 3790, 4000],
			title: "Accounting Tricks",
			desc: "Increase farm valuation by 5%",
			bonusDesc: "+{VAL}%",
			bonusVal: 5
		},
		soulFood: {
			costs: [100, 128, 156, 184, 212, 240, 268, 296, 324, 352, 380, 408, 436, 464, 492, 520, 548, 576, 605, 633, 661, 689, 717, 745, 773, 801, 829, 857, 885, 913, 941, 969, 997, 1025, 1053, 1082, 1110, 1138, 1166, 1194, 1222, 1250, 1278, 1306, 1334, 1362, 1390, 1418, 1446, 1474, 1502, 1530, 1558, 1587, 1615, 1643, 1671, 1699, 1727, 1755, 1783, 1811, 1839, 1867, 1895, 1923, 1951, 1979, 2007, 2035, 2064, 2092, 2120, 2148, 2176, 2204, 2232, 2260, 2288, 2316, 2344, 2372, 2400, 2428, 2456, 2484, 2512, 2541, 2569, 2597, 2625, 2653, 2681, 2709, 2737, 2765, 2793, 2821, 2849, 2877, 2905, 2933, 2961, 2989, 3017, 3046, 3074, 3102, 3130, 3158, 3186, 3214, 3242, 3270, 3298, 3326, 3354, 3382, 3410, 3438, 3466, 3494, 3523, 3551, 3579, 3607, 3635, 3663, 3691, 3719, 3747, 3775, 3803, 3831, 3859, 3887, 3915, 3943, 3971, 4000],
			title: "Soul Food",
			desc: "Increase bonus per soul egg by +1%",
			bonusDesc: "+{VAL}%",
			bonusVal: 1
		},
		prestigeBonus: {
			costs: [4000, 4105, 4210, 4315, 4421, 4526, 4631, 4736, 4842, 4947, 5052, 5157, 5263, 5368, 5473, 5578, 5684, 5789, 5894, 6000],
			title: "Prestige Bonus",
			desc: "Earn +10% soul eggs when you prestige",
			bonusDesc: "+{VAL}%",
			bonusVal: 10
		},
		droneRewards: {
			costs: [100, 357, 615, 873, 1131, 1389, 1647, 1905, 2163, 2421, 2678, 2936, 3194, 3452, 3710, 3968, 4226, 4484, 4742, 5000],
			title: "Drone Rewards",
			desc: "Increase your chances for bigger drone rewards by 10%",
			bonusDesc: "+{VAL}%",
			bonusVal: 10
		},
		epicComfyNests: {
			costs: [250, 2868, 5486, 8105, 10723, 13342, 15960, 18578, 21197, 23815, 26434, 29052, 31671, 34289, 36907, 39526, 42144, 44763, 47381, 50000],
			title: "Epic Comfy Nests",
			desc: "Increase egg laying rate by 5%",
			bonusDesc: "+{VAL}%",
			bonusVal: 5
		},
		transportationLobbyists: {
			costs: [250, 379, 508, 637, 767, 896, 1025, 1155, 1284, 1413, 1543, 1672, 1801, 1931, 2060, 2189, 2318, 2448, 2577, 2706, 2836, 2965, 3094, 3224, 3353, 3482, 3612, 3741, 3870, 4000],
			title: "Transportation Lobbyists",
			desc: "Increase vehicle capacity by 5%",
			bonusDesc: "+{VAL}%",
			bonusVal: 5
		},
		warpShift: {
			costs: [250, 566, 883, 1200, 1516, 1833, 2150, 2466, 2783, 3100, 3416, 3733, 4050, 4366, 4683, 5000],
			title: "Warp Shift",
			desc: "Increases long warp time by 1 hour.",
			bonusDesc: "+{VAL} hrs",
			bonusVal: 1
		},
		prophecyBonus: {
			costs: [20000, 27500, 35000, 42500, 50000],
			title: "Prophecy Bonus",
			desc: "Increase bonus per egg of prophecy by +1% (compounding)",
			bonusDesc: "+{VAL}%",
			bonusVal: 1
		},
		holdToResearch: {
			costs: [5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000],
			title: "Hold to Research",
			desc: "Increase repetition rate when holding down research button by 25%",
			bonusDesc: "+{VAL}%",
			bonusVal: 25
		}
	};


	// Data persistence helpers
	function save() {
		localStorage.userData = JSON.stringify(userData);
	}

	function reset() {
		userData = JSON.parse(JSON.stringify(initialUserData));
		save();
		populateInputs();
	}

	function load(firsttime, fromstring) {
		// Should prevent errors when the userData structure has changed compared to the user's localstorage.
		// Also REAL fancy because thanks javascript.
		var localData = JSON.parse(fromstring || localStorage.userData);
		var initialData = JSON.parse(JSON.stringify(initialUserData));

		var localColumns = JSON.parse(JSON.stringify(localData.columns || {}));
		var initialColumns = JSON.parse(JSON.stringify(initialUserData.columns));

		var localUpgrades = JSON.parse(JSON.stringify(localData.upgrades || {}));
		var initialUpgrades = JSON.parse(JSON.stringify(initialUserData.upgrades));

		var localIncrease = JSON.parse(JSON.stringify(localData.increase || {}));
		var initialIncrease = JSON.parse(JSON.stringify(initialUserData.increase));

		userData = _.extend(initialData, localData);
		userData.upgrades = _.extend(initialUpgrades, localUpgrades);
		userData.columns = _.extend(initialColumns, localColumns);
		userData.increase = _.extend(initialIncrease, localIncrease);

		if (!firsttime) {
			populateInputs();
		}
	}

	function exportBase64() {
		var exportfield = document.querySelector("#exportfield");
		exportfield.value = btoa(JSON.stringify(userData));
		exportfield.select();
	}

	function loadBase64() {
		load(false, atob(document.querySelector("#exportfield").value));
	}


	// Helper methods for dynamic data calculations, refreshing UI
	function calculate() {
		var totalSpentLevels = 0;
		var totalSpent = 0;
		var totalDesiredUpgrade = 0;
		_.each(upgrades, function(upgrade, key) {
			// Statistics
			var spent = 0;
			for (i=0; i<=userData.upgrades[key]-1; i++) {
				spent += upgrade.costs[i];
			}
			totalSpentLevels += userData.upgrades[key];
			totalSpent += spent;
			document.querySelector("#spent-"+key).innerHTML = spent.toLocaleString();
			document.querySelector("#remaining-"+key).innerHTML = (upgrade.total - spent).toLocaleString();
			document.querySelector("#bonus-"+key).innerHTML = userData.upgrades[key] == 0 ? "&ndash;" : upgrade.bonusDesc.replace("{VAL}", Math.round((upgrade.bonusVal * userData.upgrades[key]) * 100) / 100);

			// Futures
			var increaseCost = 0;
			for (i=userData.upgrades[key]; i<userData.upgrades[key]+userData.increase[key]; i++) {
				increaseCost += upgrade.costs[i] - Math.floor(upgrade.costs[i] * (userData.epicDiscount/100));
			}
			totalDesiredUpgrade += increaseCost;
			document.querySelector("#fut-cost-"+key).innerHTML = increaseCost == 0 ? "&ndash;" : increaseCost.toLocaleString();
			var nextCost = upgrade.costs[userData.upgrades[key]] - Math.floor(upgrade.costs[userData.upgrades[key]] * (userData.epicDiscount/100));
			document.querySelector("#fut-next-"+key).innerHTML = nextCost ? nextCost.toLocaleString() : "&ndash;";

			// Buy?
			document.querySelector("#fut-buy-"+key).disabled = upgrade.costs.length == userData.upgrades[key] || userData.eggs < nextCost;

			// Visiblity if complete
			var upgradeRow = document.querySelector("#upgradeRow-"+key);
			var planRow = document.querySelector("#planRow-"+key);
			if (userData.hideCompleted && userData.upgrades[key] >= upgrade.costs.length) {
				planRow.classList.add("hide");
				upgradeRow.classList.add("hide");
			}
			else {
				planRow.classList.remove("hide");
				upgradeRow.classList.remove("hide");
			}
		});
		document.querySelector("#total-levels").innerHTML = totalSpentLevels + " / " + totals.levels;
		document.querySelector("#total-spent").innerHTML = totalSpent.toLocaleString();
		document.querySelector("#total-remaining").innerHTML = (totals.cost - totalSpent).toLocaleString();
		document.querySelector("#fut-upgrade-total").innerHTML = totalDesiredUpgrade.toLocaleString();
		document.querySelector("#fut-upgrade-remain").innerHTML = Math.max((totalDesiredUpgrade - userData.eggs), 0).toLocaleString();

		// Piggy Bank calculations
		var piggyBonus = getPiggyBankBonus(userData.piggyLevel);
		var piggyBonusCalc = Math.floor(userData.piggyBank*(piggyBonus/100));
		var piggyCrackTotal = userData.piggyBank + piggyBonusCalc;
		document.querySelector("#piggybonus").innerHTML = piggyBonus;
		document.querySelector("#piggybonuscalc").innerHTML = piggyBonusCalc;
		document.querySelector("#piggycracktotal").innerHTML = piggyCrackTotal;

		document.querySelector("#crackpiggy").disabled = userData.piggyBank < 300;

		// Calculate remaining eggs
		var remain = Math.max((totals.cost - totalSpent - userData.eggs), 0);
		var remainPlusPiggy = Math.max((remain-piggyCrackTotal), 0);
		document.querySelector("#fut-egg-remain").innerHTML = remain.toLocaleString();
		document.querySelector("#fut-egg-remain-cost").innerHTML = "$"+(Math.ceil(remain/6750)*19.99).toLocaleString(undefined, { minimumFractionDigits: 2 });
		document.querySelector("#fut-egg-remain-piggy").innerHTML = remainPlusPiggy.toLocaleString();
		document.querySelector("#fut-egg-remain-piggy-cost").innerHTML = "$"+(Math.ceil(remainPlusPiggy/6750)*19.99).toLocaleString(undefined, { minimumFractionDigits: 2 });

		// Re-stripe tables
		stripeTables();
	}

	function getPiggyBankBonus(level) {
		if (level === 1) {
			return 2
		}
		if (level === 2) {
			return 25
		}
		return 10*(level+1)
	}

	function populateInputs() {
		_.each(upgrades, function(upgrade, key) {
			document.querySelector("#lvl-"+key).value = userData.upgrades[key];
			updateLevel(key, true);
			document.querySelector("#fut-inc-"+key).value = userData.increase[key];
			document.querySelector("#fut-inc-"+key).max = upgrade.costs.length - userData.upgrades[key];
			updateIncrease(key);
		});
		_.each(userData.columns, function(value, key) {
			document.querySelector("#chk"+key).checked = userData.columns[key];
			updateColumn(key, userData.columns[key]);
		});
		document.querySelector("#sethidecompleted").checked = userData.hideCompleted;
		document.querySelector("#goldeneggs").value = userData.eggs;
		document.querySelector("#piggylevel").value = userData.piggyLevel;
		document.querySelector("#piggybank").value = userData.piggyBank;
		document.querySelector("#epicdiscount").value = userData.epicDiscount;
		calculate();
	}

	function buy(key) {
		document.querySelector("#lvl-"+key).value++;
		document.querySelector("#fut-inc-"+key).value--;
		document.querySelector("#goldeneggs").value -= upgrades[key].costs[userData.upgrades[key]] - Math.floor(upgrades[key].costs[userData.upgrades[key]] * (userData.epicDiscount/100));

		userUpdateIncrease(key);
		userUpdateLevel(key, true);
		userUpdateEggs();
	}

	function crackThePiggy() {
		var eggs = document.querySelector("#goldeneggs");
		var level = document.querySelector("#piggylevel");
		var bank = document.querySelector("#piggybank");

		var piggyBonus = getPiggyBankBonus(userData.piggyLevel);
		var piggyBonusCalc = Math.floor(userData.piggyBank*(piggyBonus/100));

		eggs.value = parseInt(eggs.value) + userData.piggyBank + piggyBonusCalc;
		bank.value = 0;
		level.value++;
		userUpdateEggs();
	}

	function userUpdateColumn(key, show) {
		updateColumn(key, show);
		userData.columns[key] = show;
		calculate();
		save();
	}

	function setRowsHidden(value) {
		userData.hideCompleted = value;
		calculate();
		save();
	}

	function updateColumn(key, show) {
		var items = document.querySelectorAll(".show"+key);
		for (var i=0; i<items.length; i++) {
			var item = items[i];
			// One would think I could use classList.toggle with a forced parameter, but IE11 proved me wrong.
			if (show) {
				item.classList.remove("hide");
			}
			else {
				item.classList.add("hide");
			}
		}
	}

	function userUpdateLevel(key, isA) {
		var newVal = updateLevel(key, isA);
		userData.upgrades[key] = newVal;

		document.querySelector("#fut-inc-"+key).max = upgrades[key].costs.length - newVal;
		userUpdateIncrease(key);

		calculate();
		save();
	}

	function updateLevel(key, isA) {
		var inputA = document.querySelector("#lvl-"+key);
		var inputB = document.querySelector("#fut-lvl-"+key);
		var newVal = isA ? (parseInt(inputA.value) || 0) : (parseInt(inputB.value) || 0);
		newVal = Math.min(Math.max(newVal, 0), upgrades[key].costs.length);
		inputA.value = newVal;
		inputB.value = newVal;

		return newVal;
	}

	function userUpdateIncrease(key) {
		var newVal = updateIncrease(key);
		userData.increase[key] = newVal;
		calculate();
		save();
	}

	function updateIncrease(key) {
		var input = document.querySelector("#fut-inc-"+key);
		var newVal = parseInt(input.value) || 0;
		newVal = Math.min(Math.max(newVal, 0), (upgrades[key].costs.length - userData.upgrades[key]));
		input.value = newVal;
		return newVal;
	}

	function userUpdateEggs() {
		var result = updateEggs();
		userData.eggs = result[0];
		userData.piggyBank = result[1];
		userData.piggyLevel = result[2];
		userData.epicDiscount = result[3];
		calculate();
		save();
	}

	function updateEggs() {
		var eggs = document.querySelector("#goldeneggs");
		var bank = document.querySelector("#piggybank");
		var level = document.querySelector("#piggylevel");
		var discount = document.querySelector("#epicdiscount");
		var newEggs = parseInt(eggs.value) || 0;
		var newBank = parseInt(bank.value) || 0;
		var newLevel = parseInt(level.value) || 1;
		var newDiscount = parseInt(discount.value) || 0;
		newEggs = Math.max(newEggs, 0);
		newBank = Math.max(newBank, 0);
		newLevel = Math.max(newLevel, 1);
		newDiscount = Math.min(Math.max(newDiscount, 0), 100);
		eggs.value = newEggs;
		bank.value = newBank;
		level.value = newLevel;
		discount.value = newDiscount;
		return [newEggs, newBank, newLevel, newDiscount];
	}

	function stripeTables() {
		stripeRows(document.querySelectorAll("#stats-table tr:not(.hide)"));
		stripeRows(document.querySelectorAll("#future-table tr:not(.hide)"));
	}

	function stripeRows(rows) {
		for (var i=0; i<rows.length; i++) {
			if (i%2==0) {
				rows[i].classList.add('odd');
			}
			else {
				rows[i].classList.remove('odd');
			}
		};
	}

	// Initialize data
	var totals = {
		cost: 0,
		levels: 0
	};
	_.each(upgrades, function(upgrade, key) {
		upgrade.total = upgrade.costs.reduce(function(prev, cur){ return prev+cur; } );
		totals.cost += upgrade.total;
		totals.levels += upgrade.costs.length;
	});
	load(true);

	// Pre-compile and render template
	var template = _.template(
		document.querySelector("script.template").innerHTML
	);
	document.querySelector("#content").innerHTML = template({
		userData: userData,
		upgrades: upgrades,
		totals: totals
	});

	populateInputs();

	// Set up events
	_.each(upgrades, function(upgrade, key) {
		document.querySelector("#lvl-"+key).addEventListener("change", function() { userUpdateLevel(key, true); });
		document.querySelector("#fut-lvl-"+key).addEventListener("change", function() { userUpdateLevel(key, false); });
		document.querySelector("#fut-inc-"+key).addEventListener("change", function() { userUpdateIncrease(key); });
		document.querySelector("#fut-buy-"+key).addEventListener("change", function() { buy(key); });
	});

	_.each(userData.columns, function(val, key) {
		document.querySelector("#chk"+key).addEventListener("change", function(ev) { userUpdateColumn(key, ev.target.checked); });
	});

	document.querySelector("#sethidecompleted").addEventListener("change", function(ev) { setRowsHidden(ev.target.checked); });

	var exportfield = document.querySelector("#exportfield");
	exportfield.onfocus = function() {
		exportfield.select();
	};

	document.querySelector("#goldeneggs").addEventListener("change", userUpdateEggs );
	document.querySelector("#piggylevel").addEventListener("change", userUpdateEggs );
	document.querySelector("#piggybank").addEventListener("change", userUpdateEggs );
	document.querySelector("#epicdiscount").addEventListener("change", userUpdateEggs );

	</script>
</body>
</html>
